<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!(router.url =='/login')">
        <a class="navbar-brand" >Orders App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse    " id="navbarSupportedContentnew">
          <ul class="navbar-nav mr-auto">
          
            <li class="nav-item">
              <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
            </li>        
          </ul>
          <button type="button" (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
        </div>
</nav>
      